.side-navbar {
    width: 200px;
    background: #961F41;
    color: white;
    height: 100vh;
    padding: 20px;
  }
  
  .side-navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .side-navbar li {
    margin-bottom: 20px;
    cursor: pointer;
  }
  